# Interpret .json & .blake2b test data files as binary (not text)
# Otherwise test signatures made with different line endings will become invalid
# Use LF for created .json files, also on Windows
src/test_data/**/*.json -text eol=lf
src/test_data/**/*.blake2b -text
