.vs/
*.iml
.idea/
.DS_Store

# locales
/client/locales/*/out.gotext.json
/docs/book/
/cmd/cli/configs/
/ci/docker/selfsigned/
/docker/pip/out/

# build output
/eduvpn-common-cli
/lib

# coverage profile
/common.cov
